$moonglow:                      #EBEBEB;
$moonglow-accent:               #d1d1d1;
$midnight-gray:                 #393C3E;
$twenty-four-g-orange:          #FAA61A;
$twenty-four-g-orange-accent:   #E58C1B;
$moonlight-blue:                #009DDB;
$moonlight-blue-accent:         #0685C1;
$limespace-green:               #BECE23;
$limespace-green-accent:        #9FB122;

$text:                          $midnight-gray;
$text-light:                    $moonglow-accent;
$white:                         $moonglow;